<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/">ProManage</a>
    </div>
    <ul class="navbar-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/tasks">Tasks</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>
